<div class="modal fade" id="nuevoYoutube" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Montar un video de Youtube</h3>
                </div>
                <form novalidate [formGroup]="formEntrada" (ngSubmit)="guardarEntradaYoutube()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Slug<small><br>Debe ser único. Contener letras guión
                                            medio o números</small></label>
                                    <input type="text" class="form-control" placeholder="ej: psico-deporte-1"
                                        formControlName="slug">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Url<small><br>Copia toda la url del video que vas a encrustar</small></label>
                                    <input type="text" class="form-control" 
                                        placeholder="ej: https://www.youtube.com/watch?v=Io2hbcrAYBw&ab_channel=twentyonepilots"
                                        formControlName="rutaVideo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Categoría <small><br>Elige una categoría</small></label>
                                    <select class="form-control" formControlName="idcategoria">
                                        <option value="null">Selecciona</option>
                                        <option *ngFor="let i of categorias" value="{{i.id}}">{{i.nombre}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-info" style="margin-top: 54px;" data-toggle="modal"
                                    data-target="#nuevaCategoria">+</button>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Titulo<small><br>El titulo debe ser descriptivo al
                                        Youtube</small></label>
                                    <input type="text" class="form-control" formControlName="titulo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Descripción<small><br>Maximo 200 caracteres</small></label>
                                    <textarea rows="4" type="text" class="form-control" formControlName="descripcion"></textarea>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label>Palabras claves <small><br>Sirven para las busquedas, un post puede
                                            tener mas de una.</small></label>
                                    <ng-multiselect-dropdown [placeholder]="'Selecciona'" [data]="keys" formControlName="keyWords"
                                        [settings]="dropdownSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-info" style="margin-top:80px;" data-toggle="modal"
                                    data-target="#nuevaKeys">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-crear-categoria (categoriaEmitter)="cargarNuevasCategorias($event)"
    (keyWordEmitter)="cargarNuevasKeyWords($event)"></app-crear-categoria>