<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary float-right d-none d-sm-inline-block"
                            data-toggle="modal" data-target="#nuevoPodcast">
                            +
                        </button>
                    </div>
                    <listadoPodcast #listadoPodcast></listadoPodcast>
                    <app-crear-podcast (entrada)="listadoPodcast.agregarListaPost($event)"></app-crear-podcast>
                </div>
            </div>
        </div>
    </section>
</div>
